<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            <form action="/getQuote" method="post">

                <tr>
                    <td>
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" placeholder="your name" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="address">Address:</label>
                        <input type="text" name="address" id="address" placeholder="address" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button formmethod="GET" formaction="/">back</button>
                    </td>
                    <td>

                        <button type="submit">
                            Checkout
                        </button>
                    </td>
                </tr>
            </form>

        </table>
    </div>
</body>
</html>